<header>
    <div class="center-header">
        <div class="logo"> 
            <img src="/imagens/mapa-rs.png"/> 
            <h1>Juntos pelo Rio Grande do Sul</h1>
        </div>
        <nav class="menu">            
            <ul><a href="/pages/home.html">Início</a></ul>
            <ul><a href="/pages/guaiba.html">Nível do Guaíba</a></ul>
            <ul><a href="/pages/abrigos.html">Abrigos</a></lu>
            <ul><a href="/pages/estradas.html">Estradas</a></lu>
        </nav>
    </div>
</header>